extends ../layout

block content
  section#pages.section
    .container
      .row
        .col
          .section-heading
            h2 
              em We'd love to hear from you!
      .row
        .col-lg-6
          strong Gracie Barra Calgary
          br
          | Calgary, Canada
          br
          | (xxx) xxx-xxxx
          br
          a(href='mailto:info@gbcalgary.com') info@gbcalgary.com
        .col-lg-6
          strong Office Hours
          br
          | Monday - Friday: 7AM - 8PM
          br
          | Saturday: 9AM - 1PM