block footer
  footer.footer
    .container
      .row
        .col-md-4.text-center.text-md-left.text-white

          strong Contact Us
                        
        .col-md-4.text-left.text-white  
          strong Gracie Barra Calgary 
          br
          | ...Calgary, Canada     
         
        .col-md-4.text-md-left.text-white   
          |Phone: (xxx) xxx-xxxx
          br
          |Email: infocalgary@graciebarra.ca