block footer
  footer.footer
    .container
      .row
        .col-md-4.text-center.text-md-left
          strong CONTACT US
                        
        .col-md-4.text-left 
          strong Gracie Barra Calgary 
          br
          | Calgary, Canada     
         
        .col-md-4.text-md-left   
          |Phone: (xxx) xxx-xxxx
          br
          |Email: infocalgary@graciebarra.ca