extends layout

block content
  section#page-img(
    style="background-image: url('/images/pages/events.jpg'); padding: 250px; width: 100%" 
  )
  
  section#content.custom-page
    .section
      .container.clearfix
        .col-15
          h1 Events & News