extends layout

block content
  section#page-img(
    style="background-image: url('/images/pages/kids.jpg'); padding: 250px; width: 100%" 
  )
  
  section#content.custom-page
    .section
      .container.clearfix
        .col-15
          h1 Kids
          br
          p Our Gracie Barra Kids Program is designed to teach children self-discipline as well as providing a unique way to express themselves.
          br
          h5 Benefits
          ul
            li Improve social skills and enhance self-confidence
            li Learn a better understanding of goal-setting and achieving
            li Increase focus, energy and concentration
            li Self-defense
          br
          h5 What ages does the Gracie Barra Calgary's Future Champions Program suport?
          ul
            li Tiny Champions I (3-4 years old)
            li Little Champions I (5-6 years old)
            li Little Champions 2 (7-9 Years Old)
            li Juniors & Teens (10-13 years old)
    
    