doctype html
html
  include includes/head

  body
    include includes/header  
    include includes/heading 
    
    block content
    #pages
     
    include includes/footer
    include includes/foot