extends layout

block content
  section#page
    .container.custom-schedule
      h1.text-center Thank you for your interest in our programs!
      br
      p We will be calling to schedule your free class! 
      p Or call us at (xxx)xxx-xxxx
      p Please see our schedule below to decide the best day and time to schedule your class.
      img(src="/images/schedule.jpg", alt="")
