@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

body
  font-family: 'Cera', sans-serif;

.custom-navbar
  background: #ffffff;
  font-size: 1rem;

.custom-navbar a
  color: #222222;

.custom-navbar a:hover
  background: #991b1e;
  color: #ffffff;

@media (min-width: 400px)
	.min-vh-60
		min-height: 60vh !important;

.min-vh-md-100 
  min-height: 100vh !important;

.carousel-bg
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: -1;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

.carousel-caption 
  position: relative;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  transition: top .3s ease;
  padding-top: 45%;

.carousel-caption h2 
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #991b1e;

#page-img 
  position: relative;
  margin-top: 50px; 
  padding: 50rem;

#page-form 
  position: relative;
  margin-top: 50px; 
  padding: 10rem 0;

.section 
	position: relative;
	width: 100%;
	padding: 80px 0;
	overflow: hidden;

.custom-page
  margin: 30px;

.custom-schedule
  margin-top: 50px; 
  padding: 10rem 0;

.title-span
  color: #991b1e;

.footer
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #991b1e;
  color: #ffffff;