extends ../layout

block content

  #top.main-pages
    .bg-pages#adults
    .image-overlay.header-text
      .caption
        h2=title

  .container
    .row
      .col-md-12
        .section-heading
          h2 
            em Adults
          br
          p.text-left Top performing fighters and individuals follow a common set of principles that sustain their success. The practice of Gracie Barra Jiu-Jitsu allows individuals to understand these principles through an exciting process that combines instruction, observation, practice, appropriate feedback, live training and competition.
          p.text-left Students experience results that go beyond gains in strength, flexibility, fitness or self-defense skills. By remaining truthful to the lessons learned in practice and applying them off the mats, Gracie Barra students experience an overall improvement on their focus, energy and general well-being.

  .container
    .row
      .col-md-4
        h3 Fundamentals
        br
        p.text-justify The Fundamentals Program teaches these basic principles of effective fighting to individuals like you. Its structure condenses an immense diversity of Brazilian Jiu-Jitsu into core fundamental moves combined intelligently and safely to optimize your learning.
      .col-md-4
        h3 Advanced
        br
        p.text-justify The Advanced Program is built on high-level techniques and drills that start shaping the students game flow through the development of reflexes, speed and reaction time as well as transitions between one technique and another.
      .col-md-4
        h3 Black Belt
        br
        p.text-justify The goal of the Black Belt Program is to further develop the student’s BJJ game flow by exposing the student to cutting edge Jiu-Jitsu techniques and their variations. Jiu-Jitsu is an endless journey of daily accomplishments that always leads to a new challenge.

  section#phrases
    .container
      .row
        .phrases-content
          h2 
            | There is no losing in Jiu-Jitsu. You either win or you learn.
          p.text-right
            | Carlos Gracie Jr.