extends ../layout

block content
  .container
    .row
      .col.section-heading
        h2 
          em Kids
        br
        p Our Gracie Barra Kids Program is designed to teach children self-discipline as well as providing a unique way to express themselves.
        br
        ul Benefits
          li Improve social skills and enhance self-confidence
          li Learn a better understanding of goal-setting and achieving
          li Increase focus, energy and concentration
          li Self-defense
        br
        ul What ages does the Gracie Barra Calgary's Future Champions Program suport?
          li Tiny Champions I (3-4 years old)
          li Little Champions I (5-6 years old)
          li Little Champions 2 (7-9 Years Old)
          li Juniors & Teens (10-13 years old)

  section#phrases
    .container
      .row
        .phrases-content
          h2 
            | The Jiu Jitsu I created was designed to give the weak ones a chance to face the heavy and strong.
          p.text-right
            | Helio Gracie