extends ../layout

block content
  section#pages.section
    .container
      .row
        .col
          .section-heading
            h2 Private 
              em Lessons
            br
            p The individual attention and approach that a 60-minute session with one of our instructors provides can and does lead to a significant improvement in a student’s Jiu-Jitsu game flow.
            br
            ul Benefits
              li Gain a better understanding of specific areas of your BJJ game flow
              li Set goals and work towards them
              li Speed up your learning
              li Rise above your training plateaus
