extends ../layout

block content
  .container
    .row
      
      .col.section-heading
        h2
          | Jiu-Jitsu for  
          em Everyone
        br
        br
        em
          strong Brotherhood
        p GB Instructors shall reinforce the family spirit among students, parents, and other instructors. Their attitude must always be positive and cooperative in order to channel their creative energy towards the strengthen and the growth our family, always putting the team in front of individual selfish needs.
        br
        em
          strong Cooperation
        p GB Instructors shall nurture and reinforce a cooperative environment inside and outside the dojo. They must ensure that the competitive realm is restricted to tournaments as well as the competitor attitude. They must make the students understand that progress is not reflected on their ability to overcome a training partner or an competitive opponent, but rather reflected on their capacity to engage on a cooperative training experience were the winner is whoever learns more.
        br
        em
          strong Discipline
        p GB Instructors shall constantly discipline the students but never punish them. They must make students understand that without discipline there is no mastery, neither in Jiu-Jitsu nor in life, and that without the willingness to sacrifice, excellence is just not possible.
        br
        em
          strong Respect
        p GB Instructors shall reinforce that students must act with warmth and equality toward one another, regardless of their differences in race, creed, gender, nationality, etc. The belt ranks hierarchy must be respected and the authority of the Black Belt sincerely recognized.
        br
        em
          strong Continuous Improvement and Growth
        p GB Instructors shall reinforce that Jiu-Jitsu is a life long journey with no ending point. Students must perceive the Black Belt as their minimum goal and that their progress represents an increasing commitment to their growth as Jiu-Jitsu practitioners and human beings.
        br
        em
          strong Leadership
        p GB Instructors shall lead by example, kindness and care. The formal authority shall always supported by their moral authority built upon a positive, cooperative, and constructive attitude towards the students and other instructors.
        br
        em
          strong Inspiration
        p GB Instructors shall understand their importance on students lives as role models, as well as their responsibility in bringing out the best each person has within.
        br
        em
          strong Enjoyment
        p GB Instructors shall teach a class as a privilege and never take it as a burden. Each class is the realization of a dream, the instructor life’s work. They must enjoy every minute of it and teach like it was going to be their last opportunity to change students lives for better.

      .col-md-12.col-sm-12
        h4 Our values
        br
      .col-md-6.col-sm-6.text-justify    
        p In a lifetime dedicated to the growth and development of Brazilian Jiu-Jitsu, Master Carlos Gracie Jr. has always guided his efforts and actions by the values of brotherhood, expansion, and integrity. Simply stated by himself:
        br
        .jumbotron
          q My life is dedicated to Jiu-Jitsu. My goal was simply to build a brotherhood to lead the expansion of Jiu-Jitsu while respecting the essence of our art. My students are an extension of my family. I want each one of them to achieve their personal best while helping spread Jiu-Jitsu. We must do that honoring the traditions and efforts of those who came before us.
        p The values and principles that build Master Carlos Gracie Jr.’s personal philosophy have defined to a great extent the culture of Gracie Barra. The table to the right summarizes each one of Carlos’ core values and how they have impacted Gracie Barra as an organization.
        br

      .col-md-6.col-sm-6
        img.img-responsive(src="/images/pages/values.jpg", alt="alt")
