extends ../layout

block content
  section#pages
    .container
      .row
        .col-lg-6.offset-lg-3
          .section-heading
            h2
              | Gracie Barra 
              em Calgary
    