extends ../layout

block content
  #top.main-pages
    .bg-pages#yyc
    .image-overlay.header-text
      .caption
        h2 Gracie Barra Calgary

  section#pages
    .container
      .row
        .col-lg-6.offset-lg-3
          .section-heading
            h2
              | Gracie Barra 
              em Calgary
    