extends ../layout

block content

  #top.main-pages
    .bg-pages#instructors
    .image-overlay.header-text
      .caption
        h2=title

  .container
    .row
      .col-md-12
        .section-heading
          h2
            | Meet our 
            em instructors

    .row
      .col-md-4.col-sm-4
        .team-thumb
          img(src='/images/instructors/Allan.jpg')
          .team-info
            h2 Allan de Souza
            br
            p Allan is from Brazil. He started his Jiu-Jitsu journey in ...
      .col-md-4.col-sm-4
        .team-thumb
          img(src='/images/instructors/Allan.jpg')
          .team-info
            h2 Allan de Souza
            br
            p Allan is from Brazil. He started his Jiu-Jitsu journey in ...
      .col-md-4.col-sm-4
        .team-thumb
          img(src='/images/instructors/Allan.jpg')
          .team-info
            h2 Allan de Souza
            br
            p Allan is from Brazil. He started his Jiu-Jitsu journey in ...
