extends ../layout

block content
  #top.main-pages
    .bg-pages#instructors
    .image-overlay.header-text
      .caption
        h2 Instructors
  
  section#pages
    .container
      .row
        .col-lg-6.offset-lg-3
          .section-heading
            h2
              | Meet our 
              em instructors
      .row
        .col-lg-4
          .instructor-item
            .image-thumbnail
              img(src='images/instructors/Allan.jpg' alt='')
            .down-content
              h4 Allan de Souza
              p
                | Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.
