extends ../layout

block content
    .container
      .row
        .col
          .section-heading
            h2 Latest News
        
    .container
      .row
        each post in posts
          .col-md-4.col-sm-6.mt-4
            .card-mt-4
              .card-body.news-thumb
                img(src=post.image).img-thumbnail
                .card-title.news-info= post.headline
                .card-subtitle.text-muted.mb-2= post.createdAt.toLocaleDateString('en-CA')
                .card-text.mb-2= post.abstract
                a.btn.btn-primary.mt-2(href='detail/post.id') Read More

