extends ../layout

block content

  #top.main-pages
    .bg-pages#yyc
    .image-overlay.header-text
      .caption
        h2=title

  section#news-detail
    .container
      .row
          .col-md-8.col-sm-7
            .news-detail-thumb
              .news-image
                img.img-responsive(src=post.image)
              h3=post.headline,
              p=post.fulltext
